:root {
  /* --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75rem);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875rem);
  --text-md: 0.9rem;
  --text-md--line-height: calc(1.5 / 0.9rem);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1rem);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125rem);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25rem);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5rem);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875rem);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25rem);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1; */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.84rem;
  --text-sm--line-height: 1.8;
  --text-md: 0.875rem;
  --text-md--line-height: 1.8;
  --text-base: 0.925rem;
  --text-base--line-height: 1.8;
  --text-lg: 1.075rem;
  --text-lg--line-height: 1.5;
  --text-xl: 1.2rem;
  --text-xl--line-height: 1.5;
  --text-2xl: 1.425rem;
  --text-2xl--line-height: 1.5;
  --text-3xl: 1.625rem;
  --text-3xl--line-height: 1.25;
  --text-4xl: 2.075rem;
  --text-4xl--line-height: 1.25;
  --text-5xl: 2.85rem;
  --text-5xl--line-height: 1.25;
  --text-6xl: 3.5rem;
  --text-6xl--line-height: 1.15;
  --text-7xl: 4.275rem;
  --text-7xl--line-height: 1;
  --text-8xl: 5.75rem;
  --text-8xl--line-height: 1;
  --text-9xl: 7.75rem;
  --text-9xl--line-height: 1;
}
@media (min-width: 640px) and (max-width: 1919px) {
  :root:not(.screen-3xl) {
    zoom: 1.1;
  }
}
@media (max-width: 1919px) {
  :root:not(.screen-3xl) {
      --text-xs: 0.75rem;
      --text-sm: 0.875rem;
      --text-md: 0.9rem;
      --text-base: 1rem;
      --text-lg: 1.125rem;
      --text-xl: 1.25rem;
      --text-2xl: 1.5rem;
      --text-3xl: 1.875rem;
      --text-4xl: 2.25rem;
      --text-5xl: 3rem;
      --text-6xl: 3.75rem;
      --text-7xl: 4.5rem;
      --text-8xl: 6rem;
      --text-9xl: 8rem;
  }
}

.text-md, .sm\:text-md, .md\:text-md, .lg\:text-md, .xl\:text-md, .\2xl\:text-md, .\3xl\:text-md {
  font-size: var(--text-md);
  line-height: var(--text-md--line-height);
  letter-spacing: -0.25%
}
