/* Your custom styles go here */

@theme {
    --font-sans:  -apple-system, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Berkeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
:root:not(.mac) {
    --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import "./prism.css";

#muxi-wordmark {
    @apply mt-3!
}
body.scrolled #muxi-wordmark {
    @apply mt-2.5!
}
header#header form {
    @apply top-5
}
body.scrolled header#header form {
    @apply top-3.5
}
h1, h2 {
    @apply font-serif;
    font-optical-sizing: auto;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    letter-spacing: -1.5%;
    /* @apply scale-99! origin-top-left */
}

/* Your custom styles go here */

:root {
    --bg-color: #f9f8f4;
    --text-color: #3f322a;
    --text-gold: #c88b45;

}
:root.dark {
    --bg-color: #131215;
    --text-color: #c2c0be;
    --text-gold: #e8a550;
}
.text-gold {
    @apply text-[#c88b45] dark:text-[#e8a550]
}
.text-gold-on-hover:hover {
    @apply text-[#c88b45] dark:text-[#e8a550]
}
h4, dt {
    letter-spacing: -2.5%;
}

@import "./text-size.css";
/* moved to fonts.css in public */
/*
@import "./inter.css";
@import "./berkeley-mono.css";
@import "./noto-serif.css";
*/

@media (min-width: 1920px) { /* 3xl */
    .hd-block {
        display: block !important;
    }
    .hd-hidden {
        display: none !important;
    }
}

[data-tooltip]:before {
    @apply text-xs
}

footer#footer [data-tooltip]:before {
    @apply scale-80!
}

/* Base styles */
html, body {
    @apply bg-[#f9f8f4] dark:bg-[#131215] text-[#3f322a] dark:text-[#c2c0be] m-0 p-0 w-full;
    letter-spacing: calc(var(--text-md) * -0.25%);
}
html {
    @apply relative min-h-full overscroll-none;
    scroll-behavior: smooth;
}
body {
    @apply text-primary antialiased
}
div#announcement {
    @apply fixed top-0 inset-x-0 z-100 text-sm text-white/90! p-0.5 md:py-2 px-4 md:px-6 md:font-medium h-16 md:h-12 flex items-center justify-center;
    animation: shimmer 5s;
    /* animation-delay: 5s; */
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #292826 0%, #424139 50%, #292826 100%);
    background-size: 1000px 100%;
    border-bottom: 0.5px solid #00000010
}
body:has(#hero-demo-video) div#announcement {
    @apply z-50
}
.dark div#announcement {
    background: linear-gradient(to right, #121111 0%, #21211c 50%, #121111 100%);
    border-bottom: 0.5px solid #ffffff10
}
@keyframes shimmer {
    0%, 10% {
        background-position: -1000px 0;
    }
    90%, 100% {
        background-position: 1000px 0;
    }
}
div#announcement > div {
    @apply w-full md:text-center md:ml-8 mr-4 leading-[1.4]
}
div#announcement > div a {
    @apply text-[#dcb787] border-b border-[#f3b87150] hover:border-[#dcb787] hover:text-[#f7c17e] mx-1 py-px;
    @apply transition-all;
}
div#announcement > div a:after {
    content: " ›";
    @apply transition-all pr-[3px];
}
div#announcement > div a:hover:after {
    /* content: " →"; */
    @apply pl-0.5 -mr-0.5
}
div#announcement button {
    /* @apply text-orange-700 hover:text-red-500  transition-[color] cursor-pointer text-3xl */
    @apply text-white/50 hover:text-orange-600  transition-[color] cursor-pointer text-3xl
}
html:has(div#announcement) {
    @apply pt-15 md:pt-10;
}
body:has(div#announcement) header#header {
    @apply top-15 md:top-10
}
body.scrolled:has(div#announcement) header#header {
    @apply top-15 md:top-9
}


@media (max-width: 1023px) { /* lg */
    body.show-menu {
        @apply overflow-hidden;
    }
}
.bg-color {
    @apply bg-[#f9f8f4] dark:bg-[#131215];
}

.text-color {
    @apply text-[#3f322a] dark:text-[#c2c0be];
}

.card-bg-color {
    @apply bg-[#fefdfc] dark:bg-[#0e0e10];
}

.border-color {
    @apply border-[#e5e5e5] dark:border-white/5;
}

.skeleton-container {
    @apply w-full max-w-2xl;
}
.skeleton-item {
    @apply bg-[#3f322a20] dark:bg-[#c2c0be20] animate-pulse rounded
}
.theme-switcher {
    @apply flex items-center w-fit rounded-full border inset-shadow-xs bg-black/2 dark:bg-white/10 px-px;
}

.theme-switcher button {
    @apply p-1 rounded-full opacity-50 hover:opacity-100 -m-px cursor-pointer;
    @apply flex items-center justify-center size-7;
    @apply transition-all duration-150 ease-in-out;
    @apply text-black dark:text-white;
}

.theme-switcher button svg {
    @apply size-4;
}

.theme-switcher button:first-of-type {
    @apply -ml-0.5;
}

.theme-switcher button:last-of-type {
    @apply -mr-0.5;
}

.system .theme-switcher button.theme-system,
.light:not(.system) .theme-switcher button.theme-light,
.dark:not(.system) .theme-switcher button.theme-dark {
    @apply opacity-100 bg-[#fefdfc] dark:bg-[#0e0e10] border border-[#e5e5e5] dark:border-white/25 rounded-full shadow-xs;
}


#hero-video {
    @apply relative mt-12 lg:mt-0 lg:ml-12 lg:col-span-6 bg-black text-white rounded-lg aspect-square max-w-full flex items-center justify-center;
    @apply transition-all duration-500;
    @apply hover:scale-[1.01] cursor-pointer select-none
}
#hero-demo-video {
    @apply mt-12 lg:mt-12 lg:ml-0 lg:col-span-12 aspect-video hover:scale-none cursor-default block relative max-w-full;
    scroll-margin-top: 100px;
}
body:has(#hero-demo-video) {
    @apply overflow-hidden
}
#hero-demo-video:before {
    content: '';
    @apply fixed inset-0 bg-black/10 backdrop-blur z-50
}
#hero-demo-video video {
    @apply rounded-lg overflow-hidden shadow-2xl absolute inset-0 z-90 w-full aspect-video
}
#hero-demo-video button {
    @apply transition-all duration-500;
    @apply size-9 bg-[#f36b0a] hover:bg-red-600 rounded-full absolute -top-4 -right-4 shadow-lg z-100 cursor-pointer hover:scale-110
}
#hero-demo-video button svg {
    @apply transition-all duration-500;
    @apply p-1 m-auto
}
#hero-demo-video button:hover svg {
    @apply p-0.5
}
#hero-demo-video a {
    @apply absolute h-12 min-w-4/5 md:min-w-1/4 shadow-xl z-100 -bottom-18 hover:-bottom-17.5 transition-all duration-150 leading-none left-1/2 -translate-x-1/2 indent-1
}

#hero-video div.hero-shot {
    @apply w-full h-full;
    @apply overflow-hidden opacity-90
}
#hero-video div.cta {
    @apply absolute inset-0 flex h-full flex-row;
}
#hero-video div.cta > div {
    @apply m-auto;
}
#hero-video div.cta h5 {
    @apply mt-1.5 text-center leading-tight
}
#hero-video div.cta .play-button {
    @apply flex aspect-square h-14 rounded-full bg-orange-600 ring-4 transition-all duration-500 sm:h-16 relative;
}
#hero-video:hover div.cta .play-button {
    @apply -translate-y-4 md:ring-6 shadow-2xl bg-orange-400
}
#hero-video div.cta .play-button > svg {
    @apply m-auto block h-6 w-6 select-none;
}
#hero-video div.cta figcaption {
    @apply absolute left-1/2 mt-20 -translate-x-1/2 whitespace-nowrap rounded-full border border-x-gray-50 border-t-gray-50 bg-white px-5 py-2.5 text-sm font-semibold text-gray-800 opacity-0 shadow-2xl transition-all duration-500 md:mt-10 md:px-10;
}
#hero-video:hover div.cta figcaption {
    @apply opacity-100;
}
#hero-video div.cta figcaption div {
    @apply mx-auto hidden w-fit space-x-2 text-sm font-medium text-gray-400 md:flex;
}
#hero-video.playing {
    @apply opacity-10
}
#hero-video.playing .cta {
    @apply hidden
}


#header {
    @apply fixed top-0 inset-x-0 mx-auto w-full max-w-6xl px-1 lg:px-8 z-50;
    @apply backdrop-blur h-20;
}
body.show-menu #header {
    @apply bg-[#f9f8f4] dark:bg-[#131215] backdrop-blur-none
}
@media (min-width: 1024px) { /* lg */
    #header {
        @apply backdrop-blur-none;
        @apply fixed top-0 inset-x-0 mx-auto w-full max-w-6xl px-8 z-50;
        @apply transition-[max-width,left,right,top,padding] duration-500 -top-1 ease-out
    }
    body.scrolled #header {
        @apply backdrop-blur;
        @apply bg-transparent 2xl:backdrop-blur-none;
        @apply 2xl:bg-linear-to-b from-[#f9f8f4] dark:from-[#131215] via-[#f9f8f480] dark:via-[#13121580] to-transparent;
        @apply inset-x-0 max-w-full h-19 -top-2 pr-4 pl-6;
    }
    body.scrolled #header .hide-on-scrolled {
        @apply hidden
    }
}

#header nav {
    @apply mx-auto flex items-center justify-between pt-4 lg:pt-0 px-4 md:px-0;
}

#header nav > a {
    @apply pt-1 -mt-px;
}

#mobile-menu {
    @apply flex lg:hidden;
}

#mobile-menu button {
    @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5;
    @apply text-[#3f322a] dark:text-[#c2c0be];
}

#header ul {
    @apply fixed inset-x-0 lg:relative hidden lg:flex items-center lg:gap-x-6 m-0! rounded-b-lg py-4 top-18 lg:top-0 shadow-lg lg:shadow-none;
    @apply bg-[#f9f8f4] dark:bg-[#131215] z-50 lg:bg-transparent!;
    font-size: var(--text-md);
    line-height: var(--text-md--line-height);
}
body:has(div#announcement) #header ul {
    @apply top-32 md:top-0
}

body.show-menu #header ul {
    @apply block lg:flex
}

#header ul a {
    @apply pt-1.5 pb-2 px-4 lg:px-0 block font-medium hover:text-[#ae7a3e] dark:hover:text-[#e9a550] transition-all duration-150
}
body.scrolled #header ul {
    @apply lg:gap-x-4
}
.text-black {
    @apply text-black dark:text-[#fcf0df];
}

.text-bright {
    @apply text-black dark:text-white;
}

.text-white {
    @apply text-white dark:text-black;
}

.container {
    @apply w-full max-w-6xl mx-auto px-5 lg:px-8 text-sm;
}
@media (max-width: 1023px) { /* lg */
    .container {
        font-size: var(--text-md);
        line-height: var(--text-sm--line-height);
    }
}

.monospaced {
    @apply subpixel-antialiased dark:antialiased text-[97.5%]! tracking-tight font-mono;
}

/* Typography */
p, ul, ol {
    @apply my-4;
}

li {
    margin: 0.5rem 0;
}

li:has(.badge-v), li:has(.badge-x) {
    @apply flex items-start -ml-2.5;
}

/* Links */
.plain article a:not(.btn),
a.link {
    @apply text-[#ae7a3e] dark:text-[#bf8b4c] hover:text-blue-600 dark:hover:text-blue-500 font-medium border-b border-transparent hover:border-[#5b493e] transition-all duration-150;
}
a.link-on-hover:hover {
    @apply text-[#ae7a3e] dark:text-[#bf8b4c] font-medium border-b border-[#5b493e] transition-all duration-150;
}
.group-link {
    @apply leading-normal text-[#ae7a3e] dark:text-[#bf8b4c] group-hover:text-blue-600 dark:group-hover:text-blue-500 font-medium border-b border-transparent group-hover:border-[#5b493e] transition-all duration-150;
}


/* Badges */
.badge-v, .badge-x {
    @apply size-4.5 shrink-0 text-center rounded text-white font-semibold leading-none inline-flex items-center justify-center mr-2 mt-px -ml-0.5;
}

.badge-v {
    @apply bg-green-600 pt-px;
}

.badge-x {
    @apply bg-red-600 pb-0.5;
}

/* Details/Tables */
ul.list, ol.list {
    @apply list-disc list-outside my-4 mb-6 ml-5;
}

details table th:first-of-type, details table td:first-of-type {
    @apply pl-0.5;
}

details table th:last-of-type, details table td:last-of-type {
    @apply pr-0.5;
}

.table thead th {
    @apply bg-black/2 dark:bg-white/4
}

/* Accordion */
.accordion details {
    @apply w-full overflow-hidden transition-[height] duration-300 border-b border-[#e9e0d2] dark:border-white/5;
}

#faq:has(details[open]) details {
    @apply opacity-70;
}

.accordion details[open] {
    @apply opacity-100!;
}

.accordion details summary {
    @apply relative inline-flex w-full cursor-pointer items-center justify-between gap-x-3 py-5 text-start font-medium lg:font-normal transition-all focus:outline-hidden lg:text-base pr-6 subpixel-antialiased;
}

.accordion details:not([open]) summary:hover {
    @apply text-[#ae7a3e];
}

.accordion:has(details[open]) details:not([open]):hover {
    @apply opacity-100;
}

.accordion details summary:after {
    content: "›";
    @apply absolute right-0 -mt-2 size-5 text-black transition-[rotate] duration-300 rotate-0;
}

.dark .accordion details summary:after {
    @apply text-[#f0dbc0];
}

.accordion details[open] summary {
    @apply font-medium;
    /* font-size: 120%; */
}

.accordion details[open] summary:after {
    content: "－";
    @apply mr-1;
}
.accordion details > div:first-of-type,
.accordion details[open].closing > div:first-of-type {
    @apply overflow-hidden opacity-0;
    max-height: 0;
    transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out;
}
.accordion details[open] > div:first-of-type {
    max-height: 100vh;
    opacity: 1;
}
.accordion details p:first-of-type {
    @apply -mt-1;
}

/* .accordion details p {
    @apply opacity-0 transition-opacity duration-500;
}

.accordion details[open] p {
    @apply opacity-100;
} */



/* Code */
code {
    @apply font-mono border px-1 pt-px pb-0.5 rounded subpixel-antialiased dark:antialiased! tracking-normal text-[97.5%];
    @apply bg-[#f8f6f2] dark:bg-[#1c1c21] border-[#f5eee3] dark:border-gray-800/40;
}
:not(pre) > code {
    @apply text-[92.5%]
}
/* Features Grid */
.features-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-y-4 lg:auto-rows-fr;
}


.features-grid > a {
    @apply rounded-md px-5 py-6 shadow-xs flex flex-col justify-between my-px;
    @apply bg-[#fefdfc] dark:bg-[#0e0e10];
    @apply border border-transparent;
    /* @apply border border-black/5 dark:border-white/5; */
    transition: all 0.3s ease;
}

.features-grid > a:hover {
    transform: translateY(-4px);
    @apply shadow-xl bg-[#fffefd] dark:bg-black/50 border border-black/10 dark:border-white/10;
    transition: all 0.3s ease;
}

.features-grid > a svg {
    @apply size-12 mb-6 relative text-[#281f19] dark:text-[#f0dbc0];
}

.features-grid > a .blob {
    --border-radius: 100%;
    border-radius: var(--border-radius);
    @apply size-14 -mt-1 -ml-1 bg-[#f5eee3] dark:bg-[#212127] absolute;
}

.features-grid > a h3, .features-grid > a dt {
    @apply font-semibold text-lg text-black dark:text-[#f0dbc0];
}

.features-grid > a em {
    @apply font-serif tracking-tight font-medium;
}

.features-grid > a > .learn-more {
    @apply font-medium inline-flex items-center space-x-1 hover:space-x-1.5 max-w-fit border-b border-transparent hover:border-neutral-200 transition-[border] text-[#a49885] mt-0 mb-3;
}

.features-grid > a:hover > .learn-more {
    @apply text-[#ae7a3e];
}

.features-grid > a > .learn-more:after {
    @apply content-['→'] ml-1 transition-[margin,opacity] opacity-50;
}

.features-grid > a:hover > .learn-more:after {
    @apply ml-1.5 opacity-100;
}

.code-block {
    @apply m-3 font-mono text-[13px] subpixel-antialiased dark:antialiased;
    @apply max-w-[calc(100vw-5rem)] lg:max-w-full overflow-x-hidden;
}

ol.code-block {
    counter-reset: item;
    list-style-type: none;
}

ol.code-block li {
    counter-increment: item;
}

ol.code-block li, .code-block > div {
    @apply mx-0 my-0 whitespace-nowrap;
}

ol.code-block li:before {
    content: counter(item) ' ';
    @apply text-muted-foreground opacity-60 w-8 inline-block;
}

.stack {
    @apply border-x border-dashed border-red-200 dark:border-blue-900/60 relative block px-0.5 pb-32 pt-32 w-fit;
}

@media (max-width: 1023px) { /* lg */
    .stack {
        @apply scale-75 -mr-6 -mt-10
    }
}

.stack-list {
    @apply w-full md:pt-3.5 mr-0 md:mr-8;
    @apply transition-all duration-150;
}

.stack-list li {
    @apply py-2.5 md:py-4.5 transition-all duration-300 relative ease-in-out;
    @apply lg:text-right;
}

.stack-list:has(li.active-layer-hint) li {
    @apply text-left;
}

.stack-list:has(li.active-layer-hint) li:not(.active-layer-hint) > span {
    @apply invisible;
}

.stack-list li.active-layer-hint {
    @apply text-left;
    @apply pt-0! font-medium -mt-1.5;
}

.stack-list li.active-layer-hint > span {
    @apply font-bold;
}

.stack-layers {
    @apply relative w-60 h-60 block;
    @apply rotate-y-40;
}

.stack-layers > div {
    @apply relative -my-44 opacity-[.9];
    @apply rounded-2xl rotate-x-70 rotate-z-45 w-full h-full block;
    @apply border-b-10 border-r-10 rounded-2xl;
    @apply select-none;
    @apply hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer;
    background-color: var(--color);
    --border-color: oklch(from var(--color) calc(l * 0.9) c h);
    --text-color: oklch(from var(--color) calc(l * 0.86) c h);
    border-color: var(--border-color);
    box-shadow: 20px 20px 40px -10px rgba(0, 0, 0, 0.25), 40px 40px 40px -10px rgba(0, 0, 0, 0.25);
}

.stack-layers > div.active-layer {
    @apply scale-110 opacity-100 hover:scale-110;
}

.stack-layers > div.inactive-layer {
    @apply opacity-50 hover:opacity-50;
}

.stack-layers > div:after {
    content: '';
    border-color: var(--border-color);
    @apply absolute -inset-2.5 border-b-10 border-r-10;
    @apply rounded-l-md rounded-t-md rounded-r-sm rounded-b-sm;
    @apply ml-5 mt-5;
    background-image: url(../img/noise.svg);
}

.stack-layers > div > * {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-3xl font-bold tracking-tight;
    color: var(--text-color);
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25);
}

.install-command {
    @apply overflow-x-auto whitespace-nowrap before:mr-2 before:opacity-50 block dark:opacity-80
}

.dropmenu {
    @apply p-1 mt-1 text-sm bg-white dark:bg-[#0e0e10] border rounded-md shadow-md;
    @apply text-[#3f322a] dark:text-[#c2c0be];
    @apply subpixel-antialiased tracking-normal;
}
.dropmenu > hr {
    @apply my-1;
}
.dropmenu > button,
.dropmenu > a {
    @apply relative flex w-full cursor-pointer select-none items-center rounded px-2 py-2 outline-none;
    @apply hover:bg-[#f9f8f2] hover:dark:bg-black;
    @apply hover:text-black hover:dark:text-white;
    @apply font-normal opacity-90 hover:opacity-100;
}
.dropmenu > button:has(svg), .dropmenu > a:has(svg), .dropmenu > a:has(img),
.dropmenu > button:has(img), .dropmenu > a:has(img) {
    @apply pr-3 pl-1.5;
}
.dropmenu > button svg, .dropmenu > a svg, .dropmenu > a img,
.dropmenu > a svg, .dropmenu > a img {
    @apply size-4 mr-1.5 p-px
}
kbd, kbd.key {
    @apply font-mono font-medium border border-b-2 min-w-[18px] px-1 pt-0.5 pb-0.5 rounded subpixel-antialiased tracking-tight text-center leading-none;
    @apply bg-white/30 dark:bg-white/20 border-black/10 border-b-black/20 dark:border-white/5 dark:border-b-white/30;
    @apply shadow-xs cursor-default;
    font-size: 92%;
    letter-spacing: -0.125%;
}
kbd.key-mobile {
    @apply block sm:hidden;
}
kbd img, kbd svg {
    display: inline;
    margin-top: -2px;
    margin-left: -1px
}
.superkey:before {
    content: "^";
    margin: 0 1px 0 0;
}
.superkey {
    @apply font-normal! antialiased!;
}
.mac .superkey:before {
    content: "⌘";
    @apply scale-125 -mt-1 ;
}
.search-shortcut {
    @apply scale-90 -ml-9 w-7 border! pointer-events-none opacity-80 select-none hidden lg:block
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.rainbow-text,
.animate-rainbow-text {
    --first-color: #ff0080;
    --second-color: #ff8c00;
    --third-color: #40e0d0;
    --text-shadow: transparent;
    @apply bg-clip-text text-transparent w-fit subpixel-antialiased;
    @apply filter-[brightness(.8)] dark:filter-[brightness(1)];
    background-image: linear-gradient(
        90deg,
        var(--first-color) 0%,
        var(--second-color) 10%,
        var(--third-color) 20%,
        var(--first-color) 30%,
        var(--second-color) 40%,
        var(--third-color) 50%,
        var(--first-color) 60%,
        var(--second-color) 70%,
        var(--third-color) 80%,
        var(--first-color) 90%,
        var(--second-color) 100%
    );
    background-size: 200% 100%;

}
.animate-rainbow-text {
    animation: rgb-shimmer 8s linear infinite;
}

@keyframes rgb-shimmer {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

/* plain body (privacy, etc)  */
.plain article h1 {
    @apply mb-6 text-4xl font-bold;
}
.plain article h2 {
    @apply mt-10 mb-6 text-xl font-bold;
}
.plain article h3 {
    @apply my-4 text-lg font-bold;
}
.plain article h4 {
    @apply my-4 text-base font-bold;
}
.plain article ul, .plain article ol {
    @apply list-disc list-outside my-4 mb-6 ml-8;
}
.plain article ul li, .plain article ol li {
    @apply my-1;
}
.plain article blockquote {
    @apply my-4 pl-4 border-l-2 border-gray-300 dark:border-gray-600;
}
.plain article hr {
    @apply my-12
}
.plain article p {
    @apply my-2
}
.plain article h1, .plain article h2, .plain article h3, .plain article h4, .plain article h5, .plain article h6 {
    @apply font-sans
}
.plain article h1 a, .plain article h2 a, .plain article h3 a, .plain article h4 a, .plain article h5 a, .plain article h6 a {
    @apply text-inherit! font-semibold!
}
#readme h1, #readme h2 {
    @apply border-b pb-2
}

/* cookie concent */
#cookie-consent {
  @apply fixed z-100 justify-between gap-x-8 transition duration-1000 ease-in-out md:flex-row md:items-center;
  @apply bottom-0 left-1/2 w-full max-w-xl -translate-x-1/2 px-6 py-8 md:bottom-10 md:mx-auto md:rounded-lg md:p-8;
  @apply bg-[#ffffff] backdrop-blur-2xl dark:bg-[#000000];
  @apply shadow-2xl;
}
.dark #cookie-consent {
  box-shadow: 0 -1px 10px 0 rgba(255, 255, 255, 0.05);
}
#cookie-consent > div {
  @apply max-h-[calc(100dvh-120px)] overflow-y-auto;
}
#cookie-consent h3 {
  @apply m-0 p-0 text-xl font-bold tracking-tight sm:text-lg;
}
#cookie-consent p.notice {
  @apply mb-6 text-sm opacity-90 md:my-2;
}
#cookie-consent .cookie-settings {
  @apply my-5 space-y-4 rounded-md border bg-slate-50 dark:bg-white/5 px-4 py-6;
}
#cookie-consent label {
  @apply flex flex-none items-start gap-x-3 text-sm;
}
#cookie-consent label span.cookie-toggle-mandatory {
  @apply mt-0.5 flex h-5 w-9 shrink-0 cursor-not-allowed items-center rounded-full bg-green-400/50 px-0.5 py-1 after:h-4 after:w-4 after:translate-x-4 after:rounded-full after:bg-white;
}
#cookie-consent label input[type="checkbox"] {
  @apply invisible absolute;
}
#cookie-consent label span.cookie-toggle {
  @apply mt-0.5 flex h-5 w-9 shrink-0 cursor-pointer items-center rounded-full bg-gray-300 px-0.5 py-1 duration-300 ease-in-out after:h-4 after:w-4 after:rounded-full after:bg-white after:shadow-md after:duration-300 hover:after:translate-x-0.5;
}
#cookie-consent label input[type="checkbox"]:checked + span.cookie-toggle {
  @apply bg-green-400 after:translate-x-4;
}
#cookie-consent dl {
  @apply m-0 p-0;
}
#cookie-consent dl dt {
  @apply mb-0 font-semibold;
}
#cookie-consent dl dd {
  @apply mt-1 -ml-12 text-xs opacity-80;
}
#cookie-consent .cookie-buttons > div {
  @apply mt-6 w-full flex-none items-center justify-between md:flex md:gap-x-4;
}
#cookie-consent .cookie-buttons > div > div {
  @apply grid flex-none items-center gap-x-4 gap-y-3 md:flex md:gap-y-0;
}
#cookie-consent button[role="accept-all"],
#cookie-consent button[role="reject-non-essential"] {
  @apply cursor-pointer rounded-md px-3.5 py-1.5 text-sm font-semibold text-white transition-all duration-150 ease-in-out hover:-translate-y-0.5 focus:ring-2;
  @apply bg-black text-white dark:bg-white dark:text-black;
}
#cookie-consent button[role="accept-all"] {
  @apply h-11 md:h-auto;
}
#cookie-consent button[role="reject-non-essential"] {
  @apply bg-black/10 font-medium text-inherit opacity-80 dark:bg-white/10;
}
#cookie-consent button[role="link"] {
  @apply cursor-pointer text-sm opacity-80 hover:underline;
  @apply mx-auto mt-4 block md:mx-0 md:mt-0 md:block;
}

div.dropmenu-wrapper:not(.showing) {
    @apply transition-all duration-200 ease-in-out min-w-fit;
    height: 0px;
    overflow: hidden;
    opacity: 0.5;
    transform: translateY(-8px);
}
div.dropmenu-wrapper.showing {
    @apply transition-all duration-200 ease-in-out;
    height: auto;
    overflow: visible;
    opacity: 1;
    transform: translateY(0);
}
div.dropmenu-wrapper .dropmenu {
    @apply absolute w-fit min-w-48
}


.status-card, .status-group {
    @apply rounded-md px-4 pt-5 pb-5 flex items-center my-px;
    @apply bg-[#fefdfc] dark:bg-[#0e0e10];
    @apply border;
    transition: all 0.3s ease;
}
.status-group {
    @apply flex-col lg:flex-row mt-6
}
.status-group .status-card {
    @apply flex-col w-full text-center
}
.status-cards .status-card:hover, .status-group:hover {
    transform: translateY(-2px);
    @apply shadow-xs bg-[#fffefd] dark:bg-black/50 border border-black/10 dark:border-white/10;
    transition: all 0.3s ease;
}
.status-card img {
    @apply size-6 lg:size-11 mt-[3px] mr-4 shrink-0
}
.status-card h3, .status-group h3 {
    @apply text-[15px] tracking-normal m-0!
}
.status-card p, .status-group p {
    @apply text-xs font-mono opacity-50 dark:opacity-70 -mt-px mb-0
}
.status-group img {
    @apply size-8 lg:size-12 -ml-2 lg:ml-0 mr-2 lg:mr-2 shrink-0
}

.status-card-unknown .status-badge,
.status-card-operational .status-badge,
.status-card-degraded .status-badge,
.status-card-outage .status-badge {
    @apply bg-[#9ca3af] rounded-full flex items-center py-[4px] pb-[5px] px-2 text-[10px] leading-none! text-white/90 font-semibold w-fit mx-auto lg:-mx-1 lg:-mt-5;
    background-color: oklch(from var(--color) calc(l + 1) calc(c - 0.1) h);
    color: oklch(from var(--color) calc(l - 0.2) c h);
}
.status-group .status-badge {
    @apply lg:mx-auto! lg:mt-0!
}
.dark .status-card-unknown .status-badge,
.dark .status-card-operational .status-badge,
.dark .status-card-degraded .status-badge,
.dark .status-card-outage .status-badge {
    background-color: oklch(from var(--color) calc(l - 0.2) calc(c - 0.1) h);
    color: oklch(from var(--color) calc(l + 0.25) c h);
}
.status-card-unknown .status-badge:before,
.status-card-operational .status-badge:before,
.status-card-degraded .status-badge:before,
.status-card-outage .status-badge:before {
    content: '';
    @apply block size-2 bg-white rounded-full mr-1 mt-px -ml-px;
    background-color: oklch(from var(--color) calc(l - 0.05) c h);
}
.dark .status-card-unknown .status-badge:before,
.dark .status-card-operational .status-badge:before,
.dark .status-card-degraded .status-badge:before,
.dark .status-card-outage .status-badge:before {
    background-color: oklch(from var(--color) calc(l + 0.05) c h);
}
.status-card-operational, .status-card-operational:hover {
    --color: #16ab42;
}
.status-card-degraded, .status-card-degraded:hover {
    --color: #f8bb04;
    background-color: oklch(from var(--color) calc(l + 1) calc(c - 0.135) h);
    border-color: oklch(from var(--color) calc(l + 0.1) c h);
}
.status-card-outage, .status-card-outage:hover {
    --color: #ef4444;
    background-color: oklch(from var(--color) calc(l + 1) calc(c - 0.16) h);
    border-color: oklch(from var(--color) calc(l - 0.25) calc(c + 0.3) h);
}
.dark .status-card-degraded, .dark .status-card-degraded:hover {
    background-color: oklch(from var(--color) calc(l - 0.5) c h);
    border-color: oklch(from var(--color) calc(l - 0.3) calc(c - 0.05) h)
}
.dark .status-card-outage, .dark .status-card-outage:hover {
    background-color: oklch(from var(--color) calc(l - 0.5) c h);
    border-color: oklch(from var(--color) calc(l - 0.3) calc(c - 0.1) h)
}
body.creed article > p:first-of-type {
    @apply hidden
}

/* --- docs --- */

.mermaid svg {
  @apply mx-auto block;
}
pre:has(.mermaid) {
  @apply mt-8 mb-10
}
.mermaid svg text,
.mermaid svg tspan,
.mermaid svg .nodeLabel {
  font-weight: 400;
  font-size: 13px !important;
  color: inherit;
}


.mermaid svg rect,
.mermaid svg circle,
.mermaid svg ellipse,
.mermaid svg polygon,
.mermaid svg g line,
.mermaid svg .actor,
.mermaid svg .labelBox,
.mermaid svg .label-container path {
  stroke: var(--mermaid-stroke) !important;
  fill: var(--mermaid-fill) !important;
}
.mermaid svg g.cluster > rect {
    stroke: var(--mermaid-cluster-stroke) !important;
    fill: var(--mermaid-cluster-fill) !important;
}
:root.dark .mermaid svg {
  filter: invert(1);
}
.mermaid svg * {
  font-family: var(--font-sans) !important;
  @apply subpixel-antialiased!
}
.mermaid svg .edgeLabel p {
  @apply bg-neutral-200! dark:bg-neutral-50! antialiased!;
  border-radius: 4px !important;
  padding: 1px 3px !important;
  font-size: 85% !important;
  margin: 0 0px !important;
}

body.cms details {
  @apply bg-[#fefdfc] dark:bg-[#0e0e10] my-4;
  @apply border rounded-md shadow-xs;
  border-color: var(--docs-border-default);
  font-size: var(--text-md);
  line-height: var(--text-md--line-height);
  letter-spacing: -0.25%;
}
body.cms details[open] {
  @apply pb-4;
}
body.cms details > summary {
  @apply cursor-pointer list-none;
  @apply text-base font-medium;
  @apply block p-3 pl-9;
}
body.cms details[open] > summary {
  @apply pb-0 text-base font-bold!;
}
body.cms details > summary:before {
  content: "";
  @apply absolute mt-1.5 -ml-6 block h-4 w-4 transition-all duration-300;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTkgNWw3IDctNyA3IiAvPgo8L3N2Zz4K") 50% no-repeat;
  background-size: 16px;
}
:root.dark body.cms details > summary:before {
  @apply opacity-80 invert;
}
body.cms details[open] > summary:before {
  @apply rotate-90;
}
body.cms details[open] > div:not(:empty),
body.cms details[open] > p:not(:empty) {
  @apply mr-5 ml-10 mt-2;
  zoom: 0.975;
}
body.cms details pre {
    @apply mt-4 -mb-4!
}
body.cms details summary::-webkit-details-marker {
  display: none;
}
.callout {
  background-size: 1.5rem;
  background-position: top 1.5rem left 1.25rem;
  background-repeat: no-repeat;
  @apply relative my-8 rounded-md pt-6! pr-7 pb-6 pl-6;
  --border-color: var(--docs-callout-default-border);
  background-color: var(--docs-callout-default-bg);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)
}
.callout:before {
  content: "";
  @apply absolute inset-y-0 left-0 w-1 rounded-l-md;
  background-color: var(--border-color);
}
:root.dark .callout:before {
  @apply opacity-80;
}
.callout:has(h2), .callout:has(h3) {
  background-position: top 2rem left 1.25rem;
}
.callout > h3 {
  @apply mt-[3px]! mb-2! text-base font-semibold;
  color: var(--border-color) !important;
}
.callout:not(:has(h3)) {
  @apply pb-6 pl-14!;
}
.callout[class*="callout-"] h3 {
  @apply ml-7;
}
.callout p {
  @apply mt-0 mb-2;
}
.callout li {
    @apply mt-0 mb-1;
}
 .callout p:last-of-type:not(:first-of-type) {
  @apply mb-0;
}
.callout p:last-of-type:first-of-type {
  @apply m-0
}
.callout:has(p:last-of-type:first-of-type) {
  @apply pt-4 pb-6;
  /* background-position: top 50% left 1.25rem; */
}
.callout code {
  @apply rounded bg-black/5 px-1.5 py-0.5 text-[92%] dark:bg-black/40 border-0;
}
.callout pre {
  @apply whitespace-pre-wrap
}
.callout.callout-tip {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iIzQyQjk4MyIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik05LjY2MyAxN2g0LjY3M00xMiAzdjFtNi4zNjQgMS42MzZsLS43MDcuNzA3TTIxIDEyaC0xTTQgMTJIM20zLjM0My01LjY1N2wtLjcwNy0uNzA3bTIuODI4IDkuOWE1IDUgMCAxMTcuMDcyIDBsLS41NDguNTQ3QTMuMzc0IDMuMzc0IDAgMDAxNCAxOC40NjlWMTlhMiAyIDAgMTEtNCAwdi0uNTMxYzAtLjg5NS0uMzU2LTEuNzU0LS45ODgtMi4zODZsLS41NDgtLjU0N3oiIC8+Cjwvc3ZnPgo=");
  background-color: var(--docs-callout-tip-bg);
  --border-color: var(--docs-callout-tip-border);
}
.callout.callout-info,
.callout.callout-note {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzM1OERGOSIgc3Ryb2tlLXdpZHRoPSIyIiBjbGFzcz0iaC02IHctNiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMiA4djRtMCA0aC4wMU0yMSAxMmE5IDkgMCAxIDEtMTggMCA5IDkgMCAwIDEgMTggMHoiLz48L3N2Zz4=");
  background-color: var(--docs-callout-info-bg);
  --border-color: var(--docs-callout-info-border);
}
.callout.callout-important {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iIzhhNTdlNSIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik01IDVhMiAyIDAgMDEyLTJoMTBhMiAyIDAgMDEyIDJ2MTZsLTctMy41TDUgMjFWNXoiIC8+Cjwvc3ZnPgo=");
  background-color: var(--docs-callout-important-bg);
  --border-color: var(--docs-callout-important-border);
}
.callout.callout-special {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iIzhjN2U3NSIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik01IDVhMiAyIDAgMDEyLTJoMTBhMiAyIDAgMDEyIDJ2MTZsLTctMy41TDUgMjFWNXoiIC8+Cjwvc3ZnPgo=");
  background-color: var(--docs-callout-special-bg);
  --border-color: var(--docs-callout-special-border);
}
.callout.callout-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI2U4YWQwMCIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEyIDl2Mm0wIDRoLjAxbS02LjkzOCA0aDEzLjg1NmMxLjU0IDAgMi41MDItMS42NjcgMS43MzItM0wxMy43MzIgNGMtLjc3LTEuMzMzLTIuNjk0LTEuMzMzLTMuNDY0IDBMMy4zNCAxNmMtLjc3IDEuMzMzLjE5MiAzIDEuNzMyIDN6IiAvPgogIDwvc3ZnPgo=");
  background-color: var(--docs-callout-warning-bg);
  --border-color: var(--docs-callout-warning-border);
}
.callout.callout-danger,
.callout.callout-caution {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iI2U0MTgxOCIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMCAxNGwyLTJtMCAwbDItMm0tMiAybC0yLTJtMiAybDIgMm03LTJhOSA5IDAgMTEtMTggMCA5IDkgMCAwMTE4IDB6IiAvPgo8L3N2Zz4K");
  background-color: var(--docs-callout-danger-bg);
  --border-color: var(--docs-callout-danger-border);
}
.callout:has(> ul + hr ~ p) > ul + hr {
    @apply hidden
}
ol.steps {
  @apply border-l p-0! m-0! mt-8! ml-4!;
  @apply border-[#3f322a50];
  counter-reset: step-counter
}
:root.dark ol.steps {
  @apply border-[#c2c0be50];
}
ol.steps > li {
  @apply px-0! py-0.5! m-0! mb-8! ml-8! list-none relative;
  counter-increment: step-counter
}
ol.steps > li > h3:first-of-type {
  @apply -mt-0.5!;
}
ol.steps > li:before {
  content: counter(step-counter);
  @apply absolute size-7 rounded-full -left-12 z-9 -mt-1 flex items-center justify-center justify-items-center;
  @apply font-semibold text-white bg-[#3f322a];
  @apply ring-8 ring-[#f9f8f4];
  font-size: var(--text-md);
  line-height: 1;
}
:root.dark ol.steps > li:before {
  @apply text-black/80 bg-[#c2c0be] ring-[#131215];
}

pre {
    max-width: 100% !important;
    @apply rounded-sm
}
pre[class*="language-"].line-numbers {
    @apply bg-[#1c1c21]!
}
pre[class*="language-"].line-numbers > code {
    padding-top: 3px;
    background-color: transparent !important
}
pre:not([class*="language-"]):not(:has(code.mermaid)) {
    @apply my-6 rounded-md p-3 px-4;
    @apply bg-black/5 dark:bg-white/3 overflow-x-auto [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    font-size: 90%;
    letter-spacing: -1%;
    line-height: 1.4;
  }
  .tab-group pre:not([class*="language-"]):not(:has(code.mermaid)) {
    background-color: transparent !important;
}
pre.language-plaintext + div.toolbar {
    @apply hidden!
}
pre code {
    @apply antialiased;
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.code-toolbar {
    @apply relative text-[13px] antialiased!;
}
.code-toolbar pre code {
    @apply antialiased!;
    background: none !important;
    border: none !important;
    padding: 2px 0 0 !important;
    margin: 0 !important;
}
.code-toolbar .toolbar {
    @apply absolute top-3 right-3;
}
.code-toolbar .toolbar .toolbar-item button[data-copy-state^="copy"] span {
    @apply hidden;
}
.code-toolbar .toolbar .toolbar-item button[data-copy-state^="copy"] {
    @apply opacity-0;
}
.code-toolbar .toolbar .toolbar-item button[data-copy-state^="copy"] {
    @apply h-4 w-4 cursor-pointer opacity-60 invert hover:opacity-100;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTUuNjY2IDMuODg4QTIuMjUgMi4yNSAwIDAwMTMuNSAyLjI1aC0zYy0xLjAzIDAtMS45LjY5My0yLjE2NiAxLjYzOG03LjMzMiAwYy4wNTUuMTk0LjA4NC40LjA4NC42MTJ2MGEuNzUuNzUgMCAwMS0uNzUuNzVIOWEuNzUuNzUgMCAwMS0uNzUtLjc1djBjMC0uMjEyLjAzLS40MTguMDg0LS42MTJtNy4zMzIgMGMuNjQ2LjA0OSAxLjI4OC4xMSAxLjkyNy4xODQgMS4xLjEyOCAxLjkwNyAxLjA3NyAxLjkwNyAyLjE4NVYxOS41YTIuMjUgMi4yNSAwIDAxLTIuMjUgMi4yNUg2Ljc1QTIuMjUgMi4yNSAwIDAxNC41IDE5LjVWNi4yNTdjMC0xLjEwOC44MDYtMi4wNTcgMS45MDctMi4xODVhNDguMjA4IDQ4LjIwOCAwIDAxMS45MjctLjE4NCIgLz4KPC9zdmc+Cg==")
      50% no-repeat;
    background-size: cover;
}
.code-toolbar:hover .toolbar .toolbar-item button[data-copy-state="copy-success"] {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9ImN1cnJlbnRDb2xvciI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTEuMzUgMy44MzZjLS4wNjUuMjEtLjEuNDMzLS4xLjY2NCAwIC40MTQuMzM2Ljc1Ljc1Ljc1aDQuNWEuNzUuNzUgMCAwMC43NS0uNzUgMi4yNSAyLjI1IDAgMDAtLjEtLjY2NG0tNS44IDBBMi4yNTEgMi4yNTEgMCAwMTEzLjUgMi4yNUgxNWMxLjAxMiAwIDEuODY3LjY2OCAyLjE1IDEuNTg2bS01LjggMGMtLjM3Ni4wMjMtLjc1LjA1LTEuMTI0LjA4QzkuMDk1IDQuMDEgOC4yNSA0Ljk3MyA4LjI1IDYuMTA4VjguMjVtOC45LTQuNDE0Yy4zNzYuMDIzLjc1LjA1IDEuMTI0LjA4IDEuMTMxLjA5NCAxLjk3NiAxLjA1NyAxLjk3NiAyLjE5MlYxNi41QTIuMjUgMi4yNSAwIDAxMTggMTguNzVoLTIuMjVtLTcuNS0xMC41SDQuODc1Yy0uNjIxIDAtMS4xMjUuNTA0LTEuMTI1IDEuMTI1djExLjI1YzAgLjYyMS41MDQgMS4xMjUgMS4xMjUgMS4xMjVoOS43NWMuNjIxIDAgMS4xMjUtLjUwNCAxLjEyNS0xLjEyNVYxOC43NW0tNy41LTEwLjVoNi4zNzVjLjYyMSAwIDEuMTI1LjUwNCAxLjEyNSAxLjEyNXY5LjM3NW0tOC4yNS0zbDEuNSAxLjUgMy0zLjc1IiAvPgo8L3N2Zz4K");
    @apply opacity-100!;
}
