@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/inter/InterVariable.woff2?v=4.0') format('woff2');
}
@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/inter/InterVariable-Italic.woff2?v=4.0') format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/noto/NotoSerif-Variable.woff2?v=4.0') format('woff2');
}
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url('../fonts/noto/NotoSerif-Variable-Italic.woff2?v=4.0') format('woff2');
}


@font-face {
    font-family: "Berkeley Mono";
    src: url('../fonts/berkeley/BerkeleyMono-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Berkeley Mono";
    src: url('../fonts/berkeley/BerkeleyMono-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Berkeley Mono";
    src: url('../fonts/berkeley/BerkeleyMono-Italic.woff2') format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Berkeley Mono";
    src: url('../fonts/berkeley/BerkeleyMono-BoldItalic.woff2') format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
